# Facebook API
In this notebook I'll be interacting with facebook's Graph API Explorer to find some insight on facebook pages. As a premise,

In [1]:
import requests
import time
import pickle
import random
import string

from operator import itemgetter
import pandas as pd
import numpy as np

In [2]:
# My user token
token = 'EAACEdEose0cBAB8tZA0bH6OeZCrOT9IyFlS02wZCP6HZAWq1g6qJsImd22JVjulcdPLjUtMAMyh5OabmZAXnK7ttKbtYCU8IyxAOWZBWEdQZAKm6XQbgmFZBJ2OyBIhtJiiXlMSfmXVi9McJ0IFh7mRYwVafmZBYJSirJtfTeod4SLXNmkngftOTBEeeTFGq9NAKNl9s4wcDaGQZDZD'

In [3]:
def req_facebook(req):
    '''This function takes the request string and returns the response'''
    r = requests.get('https://graph.facebook.com/v2.8/' + \
                    req, {'access_token': token})
    return r

In [4]:
# Read json for steam post likes
result = req_facebook('steam?fields=posts{comments.limit(0).summary(true)}').json()

# Save result as only the posts
result = result['posts']

In [5]:
# Store the post likes in the data list
data = []

i = 0

while True:
    try:
        # sleeper so we don't attack fb!
        time.sleep(random.randint(2, 5))
        # extend appends a list into another list
        data.extend(result['data'])
        result = requests.get(result['paging']['next']).json()
        i += 1
        
        if i > 5:
            break
        
    except:
        print('done')
        break
        
# Save data using pickle
pickle.dump(data, open('steam_data.pkl', 'wb'))

In [90]:
loaded_data = pickle.load(file=open('steam_data.pkl', 'rb'))

In [97]:
df = pd.io.json.json_normalize(loaded_data)
df.head()

,comments.data,comments.summary.can_comment,comments.summary.order,comments.summary.total_count,id
0,[],True,ranked,30,67919847338_10155308838982339
1,[],True,ranked,62,67919847338_10155306544662339
2,[],True,ranked,116,67919847338_10155304469922339
3,[],True,ranked,55,67919847338_10155304314382339
4,[],True,ranked,12,67919847338_10155304314352339

In [98]:
df.drop(['comments.data', 'comments.summary.can_comment', \
        'comments.summary.order'], axis=1, inplace=True)
df.head()

   comments.summary.total_count                             id
0                            30  67919847338_10155308838982339
1                            62  67919847338_10155306544662339
2                           116  67919847338_10155304469922339
3                            55  67919847338_10155304314382339
4                            12  67919847338_10155304314352339

In [99]:
df.rename(columns={'comments.summary.total_count': 'total_comments'},\
             inplace=True)
df.head()

   total_comments                             id
0              30  67919847338_10155308838982339
1              62  67919847338_10155306544662339
2             116  67919847338_10155304469922339
3              55  67919847338_10155304314382339
4              12  67919847338_10155304314352339